.inter {
	font-family: "Inter", serif;
}

.droid {
	font-family: "droid-sans", sans-serif;
}

.roboto {
	font-family: "Roboto", sans-serif;
}

.graduation {
	font-family: "Graduate", serif;
	text-transform: uppercase;
}

.inria {
	font-family: "Inria Serif", serif;
}